.carListItem {
  display: flex;
  padding-bottom: 12px;
}

.carListItem .img {
  flex: 1;
  order: 1;
  padding-right: 12px;
}

.carListItem .img img {
  width: 100%;
  height: auto;
}

.carListItem .description {
  flex: 2;
  order: 2;
}
